.App {
  text-align: center;
  background-color: #009de1;
}

.App-logo {
  animation: App-logo-spin infinite 1.2s linear;
  height: 30px;
}

.App-header {
  background-color: #222;
  /*height: 60px;*/
  padding: 20px;
  color: white;
}

.App-intro {
  font-size: large;
}

@keyframes App-logo-spin {
  0%   { opacity:1; }
  90%  { opacity:.4; }
  100% { opacity:1; }
}
